:root 
{
    --c-Grey-900: #2A4144;
    --c-Grey-500: #86A2A5;
    --c-White: white;
    --c-Green-600: #0C7D69;
    --c-Green-200: #E0F1E8;
    --c-Red: #D73C3C;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

*:first-child {
    margin-top: 0;
}

*:last-child {
    margin-bottom: 0;
}